launch:
    - include:
        file: "$(find-pkg-share mavros)/launch/px4.launch"
        arg: # TODO: design decision -- should we define the fcu url here or in the px4.launch file?
        - name: "gcs_url"
          value: "udp://@{{ gcs_url }}:14550"
        - name: "fcu_url"
          value: "{{ drone_fcu_url }}"
        - name: "namespace"
          value: "{{ ns }}/mavros"
    - include: 
        file: "$(find-pkg-share mocap_to_vision_pose_ros2)/launch/mocap_to_vision_pose.launch.py"
        arg:
          - name: "mocap_topic"
            value: "/optitrack_multiplexer_node/rigid_body/{{ ansible_hostname }}"
          - name: "namespace"
            value: "{{ ns }}"
      
    - node:
        pkg: "latency_checker_ros2"
        exec: "latency_checker"
        namespace: "{{ ns }}" # populated by calling playbook.
        param:
        -
          name: "peer_file_path"
          value: "{{ drone_ros_path }}/config/peer_list.yaml"
    
    - node: 
        pkg: "bounds_checker_ros2"
        exec: "bounds_checker_node"
        namespace: "{{ ns }}"
        param: 
        -
          name: "plane_file"
          value: "{{ drone_ros_path }}/config/bounds.json"
    
    - node: 
        pkg: "drone_planner_ros2"
        exec: "drone_planner_node"
        namespace: "{{ ns }}"
    - node:
        pkg: "omninxt_controller_ros2"
        exec: "omninxt_controller_node"
        namespace: "{{ ns }}"
        