launch:
    - include:
        file: "$(find-pkg-share mavros)/launch/px4.launch"
        arg: # TODO: design decision -- should we define the fcu url here or in the px4.launch file?
        - name: "gcs_url"
          value: "udp://@{{ gcs_url }}:14550"
        - name: "fcu_url"
          value: "{{ drone_fcu_url }}"
        - name: "namespace"
          value: "{{ ns }}/mavros"
        - name: "tgt_system"
          value: "{{ ns | regex_search("[0-9]+$") }}" # This assumes that hostnames end in numbers and they map to the system id. 

      
    - node:
        pkg: "latency_checker_ros2"
        exec: "latency_checker_node"
        namespace: "{{ ns }}" # populated by calling playbook.
        param:
        -
          name: "peer_file_path"
          value: "{{ drone_ros_path }}/config/peer_list.yaml"
    
    - node: 
        pkg: "bounds_checker_ros2"
        exec: "bounds_checker_node"
        namespace: "{{ ns }}"
        param: 
        -
          name: "plane_file"
          value: "{{ drone_ros_path }}/config/bounds.json"
    
    - node: 
        pkg: "drone_planner_ros2"
        exec: "drone_planner_node"
        namespace: "{{ ns }}"
    - node:
        pkg: "swarmnxt_controller_ros2"
        exec: "swarmnxt_controller_node"
        namespace: "{{ ns }}"
        
