launch:
    - include:
        file: "$(find-pkg-share mavros)/launch/px4.launch"
        arg: # TODO: design decision -- should we define the fcu url here or in the px4.launch file?
        - name: "gcs_url"
          value: "udp://@{{ gcs_url }}:14550"
        - name: "namespace"
          value: "{{ ansible_hostname }}"
    - node: 
        pkg: "mocap_to_vision_pose_ros2"
        exec: "check_and_launch.py"
        name: "check_and_launch"
    - node:
        pkg: "latency_checker_ros2"
        exec: "latency_checker"
        namespace: "{{ ansible_hostname | map('regex_replace', '-', '_') | join('') }}"
    