{% set current_drone_idx = groups['drones'].index(inventory_hostname) %}
name: domain_bridge
from_domain: {{ drone_num }}
to_domain: 0 
topics: 
  {{ns}}/mavros/state: 
    type: mavros_msgs/msg/State
  {{ns}}/mavros/local_position/pose: 
    type: geometry_msgs/msg/PoseStamped
  {{ns}}/manager/state:
    type: swarmnxt_msgs/msg/DroneState
  {{ns}}/mavros/setpoint_position/local:
    type: geometry_msgs/msg/PoseStamped
  agent_{{ current_drone_idx }}/traj_full: 
    type: multi_agent_planner_msgs/msg/Trajectory
  agent_{{ current_drone_idx }}/traj:
    type: nav_msgs/msg/Path
{% for drone in groups['drones'] %}
{% set drone_num_id = drone | regex_replace('\.local', '') | regex_search('[0-9]+$') %}
{% set drone_idx = loop.index0 %}
{% if drone_idx != current_drone_idx %}
  agent_{{ current_drone_idx }}/traj_full:
    type: multi_agent_planner_msgs/msg/Trajectory
    to_domain: {{ drone_num_id }}
{% endif %}
{% endfor %}
services:
  agent_node_{{ current_drone_idx }}/start_planning:
    type: multi_agent_planner_msgs/srv/StartPlanning
    from_domain: 0
    to_domain: {{ drone_num }}
  agent_node_{{ current_drone_idx }}/stop_planning:
    type: multi_agent_planner_msgs/srv/StopPlanning
    from_domain: 0
    to_domain: {{ drone_num }}
