name: host_domain_bridge

from_domain: 0
topics:
{% for drone in groups['drones'] %}
{% set num = drone | regex_replace('\\.local', '') | regex_search('[0-9]+$') %}
  /optitrack_multiplexer_node/rigid_body/nxt{{ num }}: 
    type: optitrack_multiplexer_ros2_msgs/msg/RigidBodyStamped
    to_domain: {{ num }}
  /global/takeoff:
    type: swarmnxt_msgs/msg/Trigger
    to_domain: {{ num }}
  /global/land:
    type: swarmnxt_msgs/msg/Trigger
    to_domain: {{ num }}
  /global/arm:
    type: swarmnxt_msgs/msg/Trigger
    to_domain: {{ num }}
  /nxt{{ num }}/goals:
    type: nav_msgs/msg/Goals
    to_domain: {{ num }}
  /nxt{{ num }}/controller/enable:
    type: swarmnxt_msgs/msg/Trigger
    to_domain: {{ num }}
{% endfor %}
services: 
{% for drone in groups['drones'] %}
{% set num = drone | regex_replace('\\.local', '') | regex_search('[0-9]+$') %}
{% set drone_idx = loop.index0 %}
  agent_node_{{ drone_idx }}/start_planning:
    type: multi_agent_planner_msgs/srv/StartPlanning
    from_domain: {{ num }}
    to_domain: 0
  agent_node_{{ drone_idx }}/stop_planning:
    type: multi_agent_planner_msgs/srv/StopPlanning
    from_domain: {{ num }}
    to_domain: 0
{% endfor %}