[Unit]
Description=Enable Jetson Clocks at Boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/jetson_clocks
ExecStartPost=/bin/sh -c 'echo 612000000 > /sys/class/devfreq/17000000.gpu/max_freq'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
