---

- name: Copy the local log to the right place
  hosts: localhost
  gather_facts: true
  vars:
    timestamp: "{{ lookup('pipe', 'date +%Y/%m/%d/%H%M%S') }}"
  tasks:
    - name: Create facts
      set_fact:
        run_dir: "{{ host_base_path }}/consolidated_logs/{{ timestamp }}"
    - name: Create timestamped run directory on controller
      ansible.builtin.file:
       path: "{{ run_dir }}"
       state: directory
       mode: "0755"

    - name: Copy latest logs to consolidated folder
      ansible.posix.synchronize:
       mode: push
       src: "{{ host_base_path }}/logs/latest"
       dest: "{{ run_dir }}/host"
       recursive: yes
       archive: yes
       compress: yes
       rsync_opts:
         - "--mkpath"
    - name: Create latest consolidated log link
      ansible.builtin.file:
        src: "{{ run_dir }}"
        dest: "{{ host_base_path }}/consolidated_logs/latest"
        state: link

- name: Collect logs from drones into timestamped run folder
  hosts: drones
  remote_user: lis
  gather_facts: true
  tasks:
    - name: Pull latest log contents from each drone into its hostname subfolder
      ansible.posix.synchronize:
        mode: pull
        src: "{{ drone_base_path }}/logs/latest/"   # trailing slash = copy CONTENTS
        dest: "{{ host_base_path }}/consolidated_logs/latest/{{ ansible_hostname }}/"
        recursive: yes
        archive: yes
        compress: yes
        rsync_opts:
          - "--mkpath"
      delegate_to: localhost

    - name: Pull additional temporary logs (MPC, Depth, Planner)
      ansible.posix.synchronize:
        mode: pull
        src: "{{ item.src }}" # Trailing slash copies contents
        dest: "{{ host_base_path }}/consolidated_logs/latest/{{ ansible_hostname }}/{{ item.name }}/"
        recursive: yes
        archive: yes
        compress: yes
        rsync_opts:
          - "--mkpath"
      delegate_to: localhost
      ignore_errors: true
      loop:
        - { src: "/tmp/mpc_logs/latest/", name: "mpc_logs" }
        - { src: "/tmp/depth_logs/", name: "depth_logs" }
        - { src: "/tmp/planner_logs/", name: "planner_logs" }

- name: Analyze consolidated logs
      ansible.builtin.command: >
        python3 scripts/analyze_logs.py --log-dir consolidated_logs/latest
      args:
        chdir: "{{ playbook_dir }}" # Ensures we are in the root ansible folder
      register: analysis_output
      delegate_to: localhost        # Run this on your machine, not the drone
      run_once: true                # Run only once, not for every drone

    - name: Display analysis results
      ansible.builtin.debug:
        msg: "{{ analysis_output.stdout_lines }}"
      delegate_to: localhost
      run_once: true
