---
- name: Command
  hosts: drones
  remote_user: lis
  become: yes # runs everything with sudo

  # vars_prompt: 
  #   - name: command
  #     prompt: "What command do you want to run on all of the drones (WARNING: Runs as sudo!)?"
  #     private: false  
  # tasks:
  #   - name: Command
  #     ansible.builtin.command: '{{ command }}'
  #   - name: "Common Components"
  #     ansible.builtin.include_tasks: "tasks/install-acados.yml"

  tasks:
    - name: Copy Gurobi license file
      ansible.builtin.copy:
        src: secrets/gurobi.lic
        dest: /opt/gurobi/gurobi.lic
        mode: '0644'
        owner: root
        group: root



