name: Build ROS Packages

on:
    pull_request:
        paths:
            - 'ros_packages/**'
    push:
      branches:
        - main

    workflow_dispatch:

jobs:
    build:
        name: Build ROS Packages
        runs-on: ubuntu-latest
        container:
            image: osrf/ros:humble-desktop
        steps:
            - name: Checkout 
              uses: actions/checkout@v4
              with:
                submodules: recursive

            - name: Install dependencies
              run: |
                sudo apt update
                rosdep update
                rosdep install --from-paths ros_packages --ignore-src -r -y

            - name: Build workspace
              run: |
                . /opt/ros/humble/setup.sh
                colcon build --base-paths ros_packages 
