name: Build Docs

on:
    push:
        branches:
            - main
        paths:
            - 'docs/**'
            - 'mkdocs.yml'
            - '.github/workflows/check_docs.yaml'
    pull_request:
        paths:
            - 'docs/**'
            - 'mkdocs.yml'

jobs:
    build-docs:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version: '3.x'

        - name: Install dependencies
          run: |
              pip install -r requirements.txt

        - name: Build documentation
          run: mkdocs build -s

        - name: Make artifact
          uses: actions/upload-artifact@v4
          with:
              name: website
              path: site/
              retention-days: 1

    deploy:
        if: github.event_name == 'push' && github.ref_name == 'main'
        runs-on: ubuntu-latest
        needs: build-docs
        permissions:
          contents: write
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.x'

          - name: Install dependencies
            run: |
                pip install -r requirements.txt

          - name: Configure Git
            run: |
                git config --global user.name 'github-actions[bot]'
                git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          - name: Deploy documentation
            run: mkdocs gh-deploy --force
